@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Chi Siamo</title>
    <!--<link rel="stylesheet" href="chisiamo.css">-->
    <link rel="stylesheet" href="chisiamo.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid p-3 bg-warning text-white text-center">
        <h1 class="text-dark">LogiTravel</h1>
        <p class="text-dark">i nostri viaggi a portata di un click!</p>
    </div>
    <div class="row">
        <div class ="col p-3 text-white">
            <img src="https://www.donnamoderna.com/content/uploads/2020/04/Viaggiare-organizzando-un-viaggio-830x625.jpg" class="rounded" alt="Cinque Terre" width="500" height="350">
        </div>
        <div class="col p-3 bg-white text-dark text-center">
            <h3>Chi Siamo</h3>
            <p>Noi di Logitravel ti forniamo tutte le informazioni utili per visitare le principali destinazioni turistiche nazionali e internazionali.
                l’agenzia di viaggi che opera da oltre 30 anni nel mondo del turismo offrendo un ampio ventaglio di proposte nazionali e internazionali.
                Suggerisce le migliori soluzioni per i viaggi e le vacanze della sua clientela avvalendosi dei servizi dei migliori Tour Operator Nazionali ed Esteri, riuscendo a coniugare la qualita’ dell’offerta e la convenienza dei prezzi per tutte le destinazioni… Caraibi,Oceano Indiano, Africa,Sud America, Oriente, Australia….
            </p>

            <h5>Contattaci al : </h5>
            <h7>Pedra6unboblin@gmail.com</h7>

        </div>
    </div>





</body>
</html>
