
@{
    Layout = "_BasicLayout";
}

@model Tour
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form asp-controller="Tour" asp-action="Create" method="post">
                @Html.AntiForgeryToken() <!-- per sicurezza dei dati-->
                <div class="mb-3">
                    <label>Titolo:</label>
                    <input asp-for="Name" id="Name" onchange="stups()" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Descrizione:</label>
                    <textarea asp-for="Description" onchange="stups()" id="Description" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Path Image:</label>
                    <input asp-for="ImageUrl" onchange="stups()" id="ImageUrl" type="text" class="form-control">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label> Destination</label>
                    <input asp-for="Destinations" onchange="stups()" id="Destinations" type="text" class="form-control">
                    <span asp-validation-for="Destinations" class="text-danger"></span>
                </div>

                 <div class="mb-3">
                    <label>Price:</label>
                    <input asp-for="Price" onchange="stups()" id="Price" type="text" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>
                  <div class="mb-3">

                    <label>Days:</label>
                    <input asp-for="Days" onchange="stups()" id="Days" type="text" class="form-control">

                    <span asp-validation-for="Days" class="text-danger"></span>

                </div>


                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-info" value="Salva">
                </div>
            </form>
        </div>
        <div class="col-6 text-center">
            <div class="row justify-content-center">
            
                <div class="col-11 col-md-5 me-4 col-xl-6 shadow p-3 mb-5 bg-body rounded px-0 py-0">
                    <img id="Demo-ImageUrl" src="" alt="img" class="img-fluid">
                    <h4 id="Demo-Name" class="bg-warning py-2">Name</h4>

                    <p id="Demo-Description" class="p-3">Description</p>

                    <h6 class="border-top text-warning py-2 "><strong id="Demo-Day-Destinations"> days - destinations</strong></h6>

                    <p><strong id="Demo-Price"></strong>/person</p>
                </div>
            </div>
           </div>
    </div>
</div>

<script>
    function stups() {
        var name = document.getElementById('Name').value;
        document.getElementById('Demo-Name').innerHTML = name;
        var description = document.getElementById('Description').value;
        document.getElementById('Demo-Description').innerHTML = description;
        var imageUrl = document.getElementById('ImageUrl').value;
        document.getElementById('Demo-ImageUrl').src = imageUrl;
        var days = document.getElementById('Days').value;
        var destinations = document.getElementById('Destinations').value;
        document.getElementById('Demo-Day-Destinations').innerHTML = days + " days - " + destinations + " destinations";
        var price = document.getElementById('Price').value;
        document.getElementById('Demo-Price').innerHTML = price + " €";
    }
</script>