
@{
}

@model Tour

<div class="row">
    <div class="col-6">
        <img src="@Model.Image" />

        <h2>@Model.Title</h2>
        <p>@Model.Description</p>
        <p>@Model.Prezzo</p>
    </div>
</div>
