
@{
    Layout = "_BaseLayout";
}


@model Tour
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form asp-controller="Tour" asp-action="Update" method="post">
                @Html.AntiForgeryToken() <!-- per sicurezza dei dati-->
                <div class="mb-3">
                    <label>Titolo:</label>
                    <input asp-for="Title" type="text" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Descrizione:</label>
                    <textarea asp-for="Description" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Path Image:</label>
                    <input asp-for="Image" type="text" class="form-control">
                    <span asp-validation-for="Image" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label> Destination</label>
                    <input asp-for="Destination" type="text" class="form-control">
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label>Price:</label>
                    <input asp-for="Price" type="text" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>



                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-info" value="Salva">
                </div>
            </form>
        </div>
        </divc>
    </div>
